/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

h4 {
  padding-top : 7px;
}
.container {
  width: auto;
  max-width: 1000px;
  padding: 0 15px;
}
